<h3 style="text-align: center;"><strong>Ben Leistiko</strong></h3>
<p style="text-align: center;"><span style="font-weight: 400;">ben.leistiko@gmail.com ▪ Cell: (408) 420-7125 ▪ </span><a href="https://www.linkedin.com/in/benleistiko/"><span style="font-weight: 400;">https://www.linkedin.com/in/benleistiko/</span></a></p>
<p><strong>ACADEMICS</strong></p>
<p><span style="font-weight: 400;">California Polytechnic State University - San Luis Obispo</span> <span style="font-weight: 400;">San Luis Obispo, CA</span></p>
<p><em><span style="font-weight: 400;">BS Candidate, Mechanical Engineering, June 2023</span></em> <em><span style="font-weight: 400;">9/2019 - Present</span></em></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">GPA: 4.0/4.0&nbsp; -&nbsp; Statics, mechanics of materials, CAD, Honors Calculus, Physics</span></li>
</ul>
<p><span style="font-weight: 400;">Homestead High School</span> <span style="font-weight: 400;">Cupertino, CA</span></p>
<p><em><span style="font-weight: 400;">Graduated</span></em> <em><span style="font-weight: 400;">8/2015 - 6/2019</span></em></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">AP BC Calculus (5), AP Physics (5), AP Computer Science (5)</span></li>
</ul>
<p><strong>EXPERIENCE</strong></p>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">Cal Poly Racing</span> <span style="font-weight: 400;">San Luis Obispo, CA</span></span></p>
<p><em><span style="font-weight: 400;">Member</span></em> <em><span style="font-weight: 400;">9/2019 - Present</span></em></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Designed fixtures using Fusion 360 to allow precision parts to be milled and welded</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Programmed and operated a Haas CNC mill to manufacture precision parts in both aluminum and steel</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Designed and manufactured elements of the powertrain system for the 2020 Baja vehicle</span></li>
</ul>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">GMW Associates</span> <span style="font-weight: 400;">San Carlos, CA</span></span></p>
<p><em><span style="font-weight: 400;">Engineering Assistant</span></em> <em><span style="font-weight: 400;">6/2019-9/2019</span></em></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Created 2D drawings of magnet assemblies using AutoCAD</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Turned 3-D CAD files into 2D CAD drawings using a variety of CAD programs</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Updated drawings that are included in many of GMW&rsquo;s most popular magnets to better inform consumers of how to set up and operate magnets</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Created standards across drawings to unify the style in which magnet info is presented in&nbsp; GMW manuals</span></li>
</ul>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">Evil Mad Science</span> <span style="font-weight: 400;">Sunnyvale, CA</span></span></p>
<p><em><span style="font-weight: 400;">Mechanical Design Intern</span></em> <em><span style="font-weight: 400;">6/2018 - 8/2018</span></em></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Developed and presented ideas to improve the design of the z-stage of a cnc pen plotter</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Programmed microcontrollers and built circuits to perform fully instrumented tests on digital servo</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Worked extensively with an oscilloscope to take measurements for testing new kinds servos</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Operated a Haas CNC mill to make parts for the company to sell</span></li>
</ul>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">Homestead Robotics</span> <span style="font-weight: 400;">Cupertino, CA</span></span></p>
<p><em><span style="font-weight: 400;">Officer - Engineering Lead</span></em> <em><span style="font-weight: 400;">5/2018 - 6/2019</span></em></p>
<p><em><span style="font-weight: 400;">Officer - Fabrication</span></em> <em><span style="font-weight: 400;">5/2017 - 5/2018</span></em></p>
<p><em><span style="font-weight: 400;">Member - Mechanical Engineering Team</span></em> <em><span style="font-weight: 400;">8/2015 - 6/2019</span></em></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Collaborated to design and build a 120 pound robot in six weeks during the 2016 - 2019 seasons</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">2019: Lead designer and manufacturer of a three axis arm with a dual purposed pneumatically controlled claw</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">2018: Lead designer&nbsp; of a two stage elevator used to lift cubes 8 feet into the air and to deploy a climbing hook</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">2017: Lead designer of a sub-assembly that allowed the robot to climb up a five foot long rope</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Held design and fabrication seminars to teach members new skills in order to better compete as a team</span></li>
</ul>
<p><strong>SKILLS</strong></p>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">CNC Milling and CAM Work</span></span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Trained to use Haas CNC mills (certified at Cal Poly SLO machine shops)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">3 years of experience with HSMXpress CAM (through Fusion 360) to turn CAD models into 2, 2.5, or 3D toolpaths for both a CNC mill and CNC router</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Assembled a Carbide 3D Shapeoko 3 kit (6/2017)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Designed and manufactured countless parts using CNC equipment for CP Racing, CP Hyperloop,&nbsp;</span>HHS Robotics, and personal interest projects</li>
</ul>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">3D-Printing</span></span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Built a RepRap style 3D-printer that runs Marlin firmware&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Can turn 3D models into G-Code and print them using repetier host and slic3r</span></li>
</ul>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">CAD</span></span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Proficient at using Fusion 360, AutoCAD,&nbsp; SolidWorks, and Sketchup</span></li>
</ul>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">Office Productivity Software</span></span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Proficient with all standard functions of Word/Excel and Google equivalents including inserting graphs, inputting data, and using functions/equations</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Experience in data entry from GMW internship</span></li>
</ul>
<p><span style="text-decoration: underline;"><span style="font-weight: 400;">Fabrication</span></span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Extensive experience with a CNC mill, 3D-printer, manual mill, lathe, sheet metal bending tools, drill press, etc.</span></li>
</ul>